@model INavigationModel

@using Prototype.Sitefinity.SitefinityControllers
@using Quotes.Core.Managers
@using SitefinityWebApp.Mvc.Models
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models;
@using Telerik.Sitefinity.Pages.Model
@using Telerik.Sitefinity.Web

<div class="mobile-nav js-drawer">

    <ul class="list-unstyled align-right">
        <li>
            <a href="javascript:void(0)" class="mobile-nav-item mobile-lang-link link link-white">
                @if (CultureController.Language == "en")
                {
                    <img src="//savola-web.azureedge.net/images/lang-arabic.png" width="53" height="23" alt="Arabic" />
                }
                else
                {
                    <text>English</text>
                }
            </a>
        </li>

        @foreach (var node in Model.Nodes)
        {
            @RenderSubLevelsRecursive(node, Model.Nodes)
        }
        <li>
            <div class="mobile-nav-item has-input icon-search">
                <form method="get" action="@(CultureController.IsRtl? "" : "/en")/others/search">
                    <input type="hidden" name="indexCatalogue" value="full">
                    <input type="hidden" name="wordsMode" value="AllWords">
                    <input type="text" data-val="true" data-val-required="Required" placeholder="@Html.Resource("SearchWithDots")" name="searchQuery" class="input-simple">
                </form>
            </div>
            <ul class="js-mobile-submenu mobile-nav-dropdown list-unstyled">
                <li>
                    <a href="#" class="mobile-nav-dropdown-item link link-white">Test</a>
                </li>
            </ul>
        </li>
        <li class="mobile-nav-item mobile-social-holder">
            <ul class="list list-unstyled list-inline small text-left mobile-social">
                <li>
                    <a href="https://www.linkedin.com/company/savola-group" target="_blank" class="body-large icon-linkedin link link-white"></a>
                </li><li>
    <a class="body-large icon-twitter link link-white" href="https://twitter.com/Savola_Group" target="_blank"></a>
</li>
                <li>
                    <a class="body-large icon-facebook link link-white" href="https://www.facebook.com/Savola-Group-1785352878401811/?fref=ts" target="_blank"></a>
                </li>
                <li>
                    <a class="body-large icon-youtube-play link link-white" href="https://www.youtube.com/channel/UC-kPEHAJk3f5cnv8lgiQK0g" target="_blank"></a>
                </li>
                <li>
                    <a class="body-large icon-instagram link link-white" href="https://www.instagram.com/savola_group/" target="_blank"></a>
                </li>
            </ul>
        </li>
        <li class="mobile-nav-item color-white body-small">
            @{
                var latest = QuoteManager.GetManager().GetLatest();
               
            }
            @if (latest != null) {
                 
                var quoteModel = new PriceQuoteLineModel
                {
                    Price = latest.AskPrice ?? 0,
                    Change = latest.ChangePercentage ?? 0,
                    IsUp = latest.ChangePercentage >= 0
                };
              <text>  Savola @quoteModel.Price.ToString("F") <span class="body-xlarge color-@(quoteModel.IsUp ? "green" : "red") icon-@(quoteModel.IsUp ? "up" : "down")-dir"></span> @quoteModel.Change.ToString("F")%
            </text>

            }

        </li>

    </ul>

</div>


@helper RenderSubLevelsRecursive(NodeViewModel node, IList<NodeViewModel> siblings, bool insideDropdown = false)
{
var skipNode = ((node.OriginalSiteMapNode as PageSiteNode).NodeType != NodeType.Standard && siblings.All(i => (i.OriginalSiteMapNode as PageSiteNode).NodeType != NodeType.Standard));
if (!skipNode)
{

        @Html.Raw("<li>")
}

if (node.ChildNodes.Count > 0)
{
    if (skipNode)
    {
        foreach (var childNode in node.ChildNodes)
        {
                    @RenderSubLevelsRecursive(
                                childNode, node.ChildNodes,
                                true)
        }
    }
    else
    {
            <div class="mobile-nav-item has-dropdown">
                <a href="@node.Url" target="@node.LinkTarget" class="link link-white body-xlarge">@node.Title</a>
                <span class="mobile-nav-submenu-toggle js-mobile-submenu-toggle icon-down-dir"></span>
            </div>
            <ul class="js-mobile-submenu mobile-nav-dropdown list-unstyled">
                @foreach (var childNode in node.ChildNodes)
                {
                    @RenderSubLevelsRecursive(childNode, node.ChildNodes, true)
                }
            </ul>
    }
}
else
{
        <a href="@node.Url" target="@node.LinkTarget" class="@(insideDropdown ? "mobile-nav-dropdown-item link link-white" : "mobile-nav-item link link-white  body-xlarge")">@node.Title</a>
}
if (!skipNode)
{
        @Html.Raw("</li>")
}
}

