@model INavigationModel
@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models;

<div class="@Model.CssClass">

    <ul>
        @foreach (var node in Model.Nodes)
        {
            @RenderRootLevelNode(node)
        }
    </ul>
</div>
@*Here is specified the rendering for the root level*@
@helper RenderRootLevelNode(NodeViewModel node)
{
    <li>
        <a href="@node.Url" target="@node.LinkTarget"><strong>@node.Title</strong></a>
        @if (node.ChildNodes.Count > 0)
        {
            <ul>
                @foreach (var childNode in node.ChildNodes)
                {
                    @RenderSubLevelsRecursive(childNode)
                }
            </ul>
        }
    </li>
}

@*Here is specified the rendering for the sub levels*@
@helper RenderSubLevelsRecursive(NodeViewModel node)
{
    <li>
        <a href="@node.Url" target ="@node.LinkTarget">@node.Title</a>
        @if (node.ChildNodes.Count > 0)
        {
            <ul>
                @foreach (var childNode in node.ChildNodes)
                {
                    @RenderSubLevelsRecursive(childNode)
                }
            </ul>
        }
    </li>
}
