@model INavigationModel

@using Prototype.Sitefinity.SitefinityControllers
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models;
@using Telerik.Sitefinity.Modules.Libraries
@using Telerik.Sitefinity.Pages.Model
@using Telerik.Sitefinity.Web
<nav class="nav-main">
    <div class="container">
        <div class="inline-block nav-main-col-small"><a class="nav-main-logo" href="@(CultureController.IsRtl? "/" : "/en")"><img src="//savola-web.azureedge.net/images/logo.svg" class="logo" alt="Savola">
                                                                                                                             <span class="visually-hidden">@(CultureController.IsRtl ? "الصفحة الرئيسية" : "Home")</span>
              </a></div><div class="nav-main-col-big inline-block align-right">
    <ul class="nav-main-list list-unstyled list-inline visible-md visible-lg">
        @foreach (var node in Model.Nodes)
        {
            @RenderSubLevelsRecursive(node)
        }
        <li class="js-nav-main-with-sub has-dropdown">
            <span class="icon icon-search body-xlarge link link-default"></span><div class="nav-main-dropdown is-search is-right js-nav-main-sub">
                <form method="get" action="@(CultureController.IsRtl? "" : "/en")/others/search">
                    <input type="hidden" name="indexCatalogue" value="full"><input type="hidden" name="wordsMode" value="AllWords">

                    <label for="search-query-menu" class="visually-hidden">Search query in menu</label>
                    <input id="search-query-menu" type="text" data-val="true" data-val-required="Required" placeholder="@Html.Resource("SearchWithDots")" name="searchQuery" class="input-simple">
                </form>
            </div>
        </li>
    </ul>
    <a href="javascript:void(0)" class="mobile-lang-link">
        @if (CultureController.Language == "en")
        {
            <text>AR</text> }
        else
        {
            <text>EN</text>}
    </a>
    <button type="button" class="accessibility-menu-toggle"><span class="visually-hidden">Accessibility Menu</span></button>
    <button class="burger-button nav-main-toggle js-burger-button"><span></span><span class="visually-hidden">Menu toggle</span></button>
</div>
    </div>
</nav>
<div class="accessibility-menu">

    <div class="container">
        <div class="accessibility-menu-col accessibility-menu-col-info">
            <img src="/ResourcePackages/Theme/assets/images/speaker.svg" alt="readspeaker" />
            <h3 class="accessibility-menu-title">@Html.Resource("Accessibility", "Labels")</h3>
            @*<span class="accessibility-menu-description">
                @Html.Resource("AccessibilityDescription", "Labels")
            </span>*@
        </div>
        <div class="accessibility-menu-col">
            <div class="accessibility-menu-option">
                <span class="accessibility-menu-label">@Html.Resource("ResizeText", "Labels")</span>
                <button type="button" class="accessibility-menu-text-btn active accessibility-menu-text-btn-normal">A</button>
                <button type="button" class="accessibility-menu-text-btn accessibility-menu-text-btn-increase">A</button>
            </div>
            <div class="accessibility-menu-option">
                <span class="accessibility-menu-label">@Html.Raw(Html.Resource("HighContrastGreyScale", "Labels"))</span>
                <label class="switch" for="inverse-color">
                    <span class="visually-hidden">@Html.Raw(Html.Resource("HighContrastGreyScale", "Labels"))</span>
                    <input type="checkbox" id="inverse-color" class="inverse-color">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="accessibility-menu-option">
                <span class="accessibility-menu-label">@Html.Raw(Html.Resource("HighContrast", "Labels"))</span>
                <label class="switch" for="contrast-green-color">
                    <span class="visually-hidden">@Html.Raw(Html.Resource("HighContrast", "Labels"))</span>
                    <input type="checkbox" id="contrast-green-color" class="contrast-green-color">
                    <span class="slider round"></span>
                </label>
            </div>
            @if (CultureController.Language == "ar")
            {
                <div class="accessibility-menu-option reverse">
                    <div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve">
                        <a rel="nofollow" class="rsbtn_play" accesskey="L" title="ReadSpeaker webReader إستمع إلى هذه الصفحةِ مستخدماً" href="//app-as.readspeaker.com/cgi-bin/rsent?customerid=11056&amp;lang=ar_ar&amp;readid=main-content&amp;url=@Request.Url.ToString()">
                            <span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>استمع</span></span></span>
                            <span class="rsbtn_right rsimg rsplay rspart"></span>
                        </a>
                    </div>
                    <span class="accessibility-menu-label">@Html.Resource("TextSpeaker", "Labels")</span>
                </div>
            }
            else
            {
                <div class="accessibility-menu-option reverse">
                    <div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve">
                        <a rel="nofollow" class="rsbtn_play" accesskey="L" title="Listen to this page using ReadSpeaker webReader" href="//app-as.readspeaker.com/cgi-bin/rsent?customerid=11056&amp;lang=en_uk&amp;readid=main-content&amp;url=@Request.Url.ToString()">
                            <span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>Listen</span></span></span>
                            <span class="rsbtn_right rsimg rsplay rspart"></span>
                        </a>
                    </div>
                    <span class="accessibility-menu-label">@Html.Resource("TextSpeaker", "Labels")</span>
                </div>

            }


        </div>
    </div>

</div>
@helper RenderSubLevelsRecursive(NodeViewModel node, bool insideDropdown = false)
{
    <li class="@GetClass(node) @Html.Raw(node.ChildNodes.Any() ? "has-dropdown js-nav-main-with-sub" : "")">
        <a href="@node.Url" target="@node.LinkTarget" @Html.Raw(node.LinkTarget == "_blank" ? "rel='noopener' title='Opens in a new window'" : "") class="@GetClass(node) @(insideDropdown ? "mobile-nav-dropdown-item link link-white" : "link link-default") @(node.HasChildOpen || node.IsCurrentlyOpened ? "active" : "")">@node.Title</a>
        @if (node.ChildNodes.Count > 0)
        {
            PageSiteNode pageNode = node.OriginalSiteMapNode as PageSiteNode;
            var thumbnail = ((Telerik.Sitefinity.Libraries.Model.Image)pageNode.GetCustomFieldValue("Image"));
            <div class="nav-main-dropdown align-left is-full js-nav-main-sub" data-mh="main-menu">
                <div class="row">
                    @foreach (var childNode in node.ChildNodes)
                    {
                        if (!childNode.ChildNodes.Any())
                        {
                            <div class="col-md-3 nav-main-dropdown-col">
                    <a href="@childNode.Url" class="@GetClass(childNode) link link-default body-large text-heavy"  aria-label="@node.Title / @childNode.Title">@childNode.Title</a></div>
                        }
                        else
                        {
                            PageSiteNode childNodePageNode = childNode.OriginalSiteMapNode as PageSiteNode;
                            <div class="col-md-@(node.ChildNodes.Count<3 && node.ChildNodes.Last().Title == childNode.Title ? "4":"3") nav-main-dropdown-col">
                                <ul class="list-unstyled body-small align-left">
                                    @if (childNodePageNode.NodeType == NodeType.Standard || node.ChildNodes.Any(i => (i.OriginalSiteMapNode as PageSiteNode).NodeType == NodeType.Standard))
                                    {
                                        <li class="margin-xs-bottom"><a href="@childNode.Url" class="@GetClass(childNode) link link-default body-large text-heavy">@childNode.Title</a></li>
                                    }
                                    @foreach (var ccn in childNode.ChildNodes)
                                    {
                                        <li><a href="@ccn.Url" class="@GetClass(ccn) link link-default body-small @(ccn.ChildNodes.Any() || childNode.ChildNodes.Any(i => i.ChildNodes.Any()) ? "text-heavy" : "")" aria-label="@node.Title / @childNode.Title / @ccn.Title">@ccn.Title</a></li>
                                        foreach (var cccn in ccn.ChildNodes)
                                        {
                                            <li><a href="@cccn.Url" class="@GetClass(cccn) link body-small link-default" aria-label="@node.Title / @childNode.Title / @ccn.Title">@cccn.Title</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </li>
}
@helper GetClass(NodeViewModel node)
{
    if (Model.CurrentSiteMapNode != null && node.OriginalSiteMapNode != null && Model.CurrentSiteMapNode.Key == node.OriginalSiteMapNode.Key)
    {
        @Html.Raw("active")
    }
}