@using System.Globalization
@using Prototype.Sitefinity.SitefinityControllers
@using SitefinityWebApp.Core.Extensions
@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel

@{
    var isRight = true;
}
<div class="@Model.CssClass">
        <ul class="timeline history-timeline margin-xl-bottom body-small">
            @foreach (var item in Model.Items.OrderBy(i => i.Fields.Date))
            {
                var timeCorrection = 4;
                var date = (DateTime)item.Fields.GetMemberValue("Date");
                date = date.AddHours(timeCorrection);
                <li class="history-timeline-elem timeline-elem timeline-elem-@(isRight ? "r" : "l")">
                    @if (item.Fields.Image != null)
                    {
                        <div class="history-timeline-image-@(!isRight ? "r" : "l")">
                            <img src="@item.Fields.Image.Fields.MediaUrl"
                                 alt="@(item.Fields.Image.Fields.AlternativeText)"
                                 title="@(item.Fields.Image.Fields.Title)" />
                        </div>
                    }
                    <div class="history-timeline-inner timeline-inner">
                        <h3>
                            @date.ToStringGregorianCalendar("yyyy")
                                            </h3>
                        @Html.Raw(item.Fields.Description ?? item.Fields.Title)
                        @if (item.Fields.Image != null)
                        {
                                <img class="margin-bottom img-responsive hidden-sm hidden-md hidden-lg" src="@item.Fields.Image.Fields.MediaUrl"
                                     alt="@(item.Fields.Image.Fields.AlternativeText)"
                                     title="@(item.Fields.Image.Fields.Title)" />
                        }
                    </div>
                </li>
                isRight = !isRight;
            }
        </ul>
</div>
