@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel
@using Telerik.Sitefinity.Frontend.Media.Mvc.Models.ImageGallery;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@{
    var items = Model.Items.Select((x, i) => new { Index = i, Value = x })
        .GroupBy(x => x.Index / 4)
        .Select(x => x.Select(v => v.Value).ToList())
        .ToList();
}
<div class="@Model.CssClass">
    @foreach (var row in items)
    {
        <div class="row padding-bottom">
            @foreach (var item in row)
            {
                <div class="col-md-3"><div class="media-post body-small">
                    <div style="aspect-ratio: 27/20;overflow: hidden;">
                        <img class="img-responsive" src="@(((ThumbnailViewModel) item).ThumbnailUrl)" alt='@item.Fields.AlternativeText' />
                    </div>
                    <p></p><ul class="list-span"><li class="align-left">@item.Fields.Author</li>
                    <li class="align-right">
                    <a href="@(((ThumbnailViewModel) item).MediaUrl)" download="download" class="link link-green text-lowercase" aria-label="@Html.Resource("Download", "Labels") @item.Fields.Title">@Html.Resource("Download", "Labels") <span class="icon-download"></span></a>
                        </li></ul></div></div>
            }
        </div>
    }
</div>
